nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px auto;
    width: 95%;
    height: 70px;
    align-items: center;
    background-color: rgb(94, 63, 2);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

nav a {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.6s all;
}

nav a:hover {
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    font-size: 23px;
}